
body, h1, p, div, label, input, button, textarea {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.main {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color:palevioletred;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 15px; 
    border-radius: 10px; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    border: none; 
    color: white; 
    cursor: pointer; 
    background-color: palevioletred; 
    width: 100%; 
    font-size: 16px; 
}

button:hover {
    background-color:plum;
}

#togglePassword {
    cursor: pointer;
    position: relative;
    top: -32px;
    right: 10px;
}

.radio-group {
    display: flex;
    align-items:flex-start;
}





body .password-field {
position: relative;
}
body .password-field #toggler {
position: absolute;
right: 20px;
top: 60%;
transform: translateY(-50%);
cursor: pointer;
}
